docker/.ssh/
.env

###> symfony/framework-bundle ###
/app/.env.local
/app/.env.local.php
/app/.env.*.local
/app/config/secrets/prod/prod.decrypt.private.php
/app/public/bundles/
/app/public/build/
/app/var/
/app/vendor/
###< symfony/framework-bundle ###

###> symfony/asset-mapper ###
/app/public/assets/
/app/assets/vendor/
###< symfony/asset-mapper ###
project/node_modules/
/app/.env.dev
/app/config/secrets/dev/dev.decrypt.private.php
/app/node_modules/

###> symfony/phpunit-bridge ###
/app/.phpunit.result.cache
/app/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/app/phpunit.xml
/app.phpunit.result.cache
###< phpunit/phpunit ###
var/cache/*
.env.dev.local
.ssh/known_hosts
/node_modules/
/public/assets/
/assets/vendor/
/var/
/vendor/
