<form method="post" action="{{ path('app_database_backup_file_delete', {'id': database_backup_file.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input
        type="hidden" 
        name="_token" 
        value="{{ csrf_token('delete' ~ database_backup_file.id) }}"
    >
    <button class="btn">Delete</button>
</form>
