body {
    background-color: #aee;
}

#menu a {
    padding: 10px;
}

.main-section {
    padding: 20px;
}

.action_cell {
    padding: 0 1rem;
}

.action_cell button, .action_cell input {
    padding: 0;
}
