body {
    background-color: #aee;
}

#menu a {
    padding: 10px;
}

.main-section {
    padding: 20px;
}

.inline-form {
    display: inline;
    position: relative;
}

.inline-form button {
    position: absolute;
    top: -9px;
    text-decoration: underline;
}
