<nav class="bg-blue-600 text-white">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <!-- Menu -->
      <div id="menu" class="hidden lg:flex lg:items-center">
        <a href="{{ path('app_environment_index') }}">Environments</a>
        <a href="{{ path('app_project_index') }}">Projects</a>
        <a href="{{ path('app_repository_address_index') }}">Repository Addresses</a>
        <a href="{{ path('app_database_credential_index') }}">Database Credential</a>
      </div>
    </div>
  </div>
</nav>