{% extends 'base.html.twig' %}

{% block title %}New Project{% endblock %}

{% block body %}

    <h1>Create new Project</h1>

    {{ include('project/_form.html.twig') }}

    <a
        class="mt-4 px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600"
        href="{{ path('app_project_index') }}">back to list</a>

{% endblock %}
